<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.230728.104656-sym" targetFramework="net481" />
  <package id="_nilnul_._LINQ_" version="1.1.230709.141821-sym" targetFramework="net481" />
  <package id="AE.Net.Mail" version="1.7.7816.38666" targetFramework="net481" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net481" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Ix-Async" version="1.2.5" targetFramework="net481" />
  <package id="Microsoft.AspNet.Cors" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Client" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Caching.Memory" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="7.0.4" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.1" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options" version="7.0.1" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.NETCore.Platforms" version="7.0.4" targetFramework="net481" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="Newtonsoft.Json.Bson" version="1.0.2" targetFramework="net481" />
  <package id="nilnul._acc_._LIB_" version="2.1.231015.130230-sym" targetFramework="net481" />
  <package id="nilnul._acc_._LINQ_" version="1.1.220731.182834" targetFramework="net481" />
  <package id="nilnul._app_._LIB_" version="1.1.230506.102031-sym" targetFramework="net481" />
  <package id="nilnul._bit_._LIB_" version="1.1.231003.120850-sym" targetFramework="net481" />
  <package id="nilnul._character_._LIB_" version="2.1.231002.104103-sym" targetFramework="net481" />
  <package id="nilnul._comm_._LIB_" version="1.0.7827.34092" targetFramework="net481" />
  <package id="nilnul._fs_._LIB_" version="2.1.231005.192413-sym" targetFramework="net481" />
  <package id="nilnul._human_._LIB_" version="1.1.220725.151533" targetFramework="net481" />
  <package id="nilnul._human_._LINQ_" version="1.1.220725.150847" targetFramework="net481" />
  <package id="nilnul._lang_._LIB_" version="1.1.231102.201250-sym" targetFramework="net481" />
  <package id="nilnul._ling_._LIB_" version="1.1.220728.141114" targetFramework="net481" />
  <package id="nilnul._linq_._LIB_" version="1.1.231012.113523-sym" targetFramework="net481" />
  <package id="nilnul._num_._LIB_" version="1.1.231022.71615-sym" targetFramework="net481" />
  <package id="nilnul._num_._LINQ_" version="1.1.231022.71617-sym" targetFramework="net481" />
  <package id="nilnul._obj_._LIB_" version="1.2.231025.60405-sym" targetFramework="net481" />
  <package id="nilnul._os_._LIB4FX_" version="1.0.230111.120633-sym" targetFramework="net481" />
  <package id="nilnul._rel_._LIB_" version="1.2.231003.172246-sym" targetFramework="net481" />
  <package id="nilnul._set_._LIB_" version="1.1.230730.135726-sym" targetFramework="net481" />
  <package id="nilnul._time_._LIB_" version="1.1.231103.90416-sym" targetFramework="net481" />
  <package id="nilnul._txt_._LIB_" version="1.1.231101.104953-sym" targetFramework="net481" />
  <package id="nilnul._web_._CTR_" version="1.1.230701.165020-sym" targetFramework="net481" />
  <package id="nilnul._web_._LIB_" version="1.1.230907.121331-sym" targetFramework="net481" />
  <package id="nilnul._win_._LIB_" version="1.1.230806.55120-sym" targetFramework="net481" />
  <package id="nilnul._xml_._LIB_" version="1.1.231102.193316-sym" targetFramework="net481" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.230611.40617-sym" targetFramework="net481" />
  <package id="nilnul.lang_._cognom_._LIB_" version="1.1230806.123209-sym" targetFramework="net481" />
  <package id="nilnul.lang_._cot_._LIB_" version="1.1230804.164911-sym" targetFramework="net481" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.230515.93530-sym" targetFramework="net481" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.230716.154720-sym" targetFramework="net481" />
  <package id="nilnul.num._real_._LIB_" version="2.1.231025.120651-sym" targetFramework="net481" />
  <package id="nilnul.set._discrete_._LIB_" version="1.0.7713.29418" targetFramework="net48" />
  <package id="nilnul.web._css_.WEB._CTR_" version="1.1.220729.100927" targetFramework="net481" />
  <package id="nilnul.web._js_.WEB._CTR_" version="1.1.230513.171046-sym" targetFramework="net481" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Collections" version="4.3.0" targetFramework="net481" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="net481" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net481" />
  <package id="System.Configuration.ConfigurationManager" version="7.0.0" targetFramework="net481" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.2" targetFramework="net481" />
  <package id="System.IO" version="4.3.0" targetFramework="net481" />
  <package id="System.Linq" version="4.3.0" targetFramework="net481" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net481" />
  <package id="System.Net.Primitives" version="4.3.1" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net481" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net481" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net481" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net481" />
  <package id="System.Runtime.Caching" version="7.0.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net481" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net481" />
  <package id="System.Security.Permissions" version="7.0.0" targetFramework="net481" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="7.0.3" targetFramework="net481" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net481" />
  <package id="System.Threading" version="4.3.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net481" />
</packages>